<div class="imagemfundo">
    <div class="fundocinza">
       
    </div>

</div>

<div class="textooficial">
    <div class="titulo">
        <h1>Visão Geral Do Jogo</h1>
    </div>
    
    <h2>Controle UrieL</h2>
    <p class="texto">
        Embarque em uma jornada épica repleta de ação e mistério em '<span class="destaque">The Unknown</span>'. Acompanhe Uriel, uma pequena garota armada com uma imponente espada, enquanto ela desbrava um mundo desconhecido em busca de seu destino. Prepare-se para mergulhar em um universo em pixel art 2D, repleto de desafios e segredos a serem desvendados.
      </p>
    <div class="imagemLado">
        <img src="../../../assets/img/uriel_idle.gif" alt="">
    </div>
</div>
<app-slideshow></app-slideshow>
<app-steam></app-steam>
