<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64" >
        <mat-nav-list class="nav-list">
            <a mat-list-item >
                <i class="material-icons">
                    home
                </i>
                
            </a>
            <a href="https://instagram.com/l.productions.studio?igshid=MzRlODBiNWFlZA==" target="_blank" mat-list-item>
                <i class="logo-insta">
                    <img src="assets/img/insta_icon.png" alt="">
                </i>
                
            </a>
            <a href="https://www.tiktok.com/@lproductionsgames?_t=8fq0OPGJWsg&_r=1" target="_blank" mat-list-item>
                <i class="logo-tiktok">
                    <img src="assets/img/tik-tok_logo.png" alt="">
                </i>
               
            </a>
        </mat-nav-list>
    </mat-sidenav>
  
</mat-sidenav-container>